<app-project-card
  [title]="'Optima Roslagen Hotel Website'"
  [description]="
    'This was an internship project that I did as a part of my Full Stack Education through Lexicon. Me and three other students built a fully functioning mockup hotel website for Optima Hotell Roslagen in Norrtälje in close cooperation with our mentors and the hotel director. The project was created with a frontend made in React.js with a .NET Core backend. The website was ultimately not used by the company, but it was a great learning opportunity though, and I learned a lot about working in a team and how to collaborate effectively together using project management tools like Trello. I also got some more experience with React.js which was nice.'
  "
  [youtubeLink]="'https://youtu.be/ZMFD7eoHNhM'"
  [websiteLink]="''"
  [imageUrls]="['images/optima-hero-1.png', 'images/optima-hero-3.png']"
  [devIconUrls]="[
    'icons/html5.svg',
    'icons/css3.svg',
    'icons/react.svg',
    'icons/csharp.png',
    'icons/aspnet.svg'
  ]"
>
</app-project-card>
