<app-project-card
  [title]="'Donna Vino Website'"
  [description]="
    'This was a project that I did as a part of my Full Stack Education through Lexicon. We built a fully functioning hotel website for Optima Hotell Roslagen in Norrtälje. The project was created with a frontend made in React.js with a .NET Core backend.'
  "
  [youtubeLink]="'https://youtu.be/ZMFD7eoHNhM'"
  [websiteLink]="'https://donnavino.dk/'"
  [imageUrls]="['images/optima-hero-1.png', 'images/optima-hero2.png']"
>
</app-project-card>
