<div class="w-full h-auto flex flex-col justify-center items-center">
  <div class="flex mb-4">
    <h2 class="text-3xl font-mono">Contact</h2>
    <img src="icons/contact.png" class="w-10 h-10" />
  </div>
  <div
    class="flex justify-between gap-6 w-[20rem] flex-col border-1 rounded-xl p-4"
  >
    <div class="flex gap-3">
      <img
        src="icons/envelope-alt.svg"
        alt="envelope icon"
        class="relative top-[2px]"
      />
      <p>jenssimonberglund&#64;gmail.com</p>
    </div>
    <div class="flex gap-3">
      <img src="icons/phone.svg" alt="phone icon" class="relative top-[2px]" />
      <p>+46736773078</p>
    </div>
    <div class="flex gap-2">
      <img
        src="icons/linkedin-original.svg"
        alt="linked in icon"
        class="relative top-[2px]"
      />
      <a href="https://www.linkedin.com/in/simon-berglund-75b15393/"
        >My LinkedIn</a
      >
    </div>
  </div>
</div>
