<div
  class="w-full h-122 sm:h-132 md:h-154 flex flex-col justify-center gap-1 md:gap-4 items-center"
>
  <div class="flex justify-between gap-6 w-[20rem] flex-col p-4">
    <h2 class="text-3xl text-center">Contact me</h2>
    <div class="flex gap-3 ml-4">
      <img
        src="icons/envelope-alt.svg"
        alt="envelope icon"
        class="relative top-[2px]"
      />
      <a href="mailto:jenssimonberglund@gmail.com"
        >jenssimonberglund&#64;gmail.com</a
      >
    </div>
    <div class="flex gap-3 ml-4">
      <img src="icons/phone.svg" alt="phone icon" class="relative top-[2px]" />
      <p>+46736773078</p>
    </div>
    <div class="flex gap-3 ml-4">
      <img
        src="icons/linkedin-original.svg"
        alt="linked in icon"
        class="relative top-[2px]"
      />
      <a href="https://www.linkedin.com/in/simon-berglund-75b15393/"
        >My LinkedIn</a
      >
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <h2 class="text-3xl text-center mt-5">Not tired of me yet?</h2>
    <p>Here are more videos of older projects:</p>
    <div class="flex flex-col gap-4 ml-4">
      <div class="flex gap-3">
        <a href="https://youtu.be/qAYL1-9dIRM"
          ><img
            src="icons/youtube.svg"
            alt="youtube icon"
            class="relative top-[2px]"
        /></a>
        <p>Munami cakery website</p>
      </div>
      <div class="flex gap-3">
        <a href="https://youtu.be/YKLlCY-eyOs"
          ><img
            src="icons/youtube.svg"
            alt="youtube icon"
            class="relative top-[2px]"
        /></a>
        <p>Taskmaster Console App</p>
      </div>
      <div class="flex gap-3">
        <a href="https://youtu.be/gKy9-x_TKNE"
          ><img
            src="icons/youtube.svg"
            alt="youtube icon"
            class="relative top-[2px]"
        /></a>
        <p>A few older websites</p>
      </div>
      <div class="flex gap-3">
        <a href="https://youtu.be/YKLlCY-eyOs"
          ><img
            src="icons/youtube.svg"
            alt="youtube icon"
            class="relative top-[2px]"
        /></a>
        <p>World Fact Generator</p>
      </div>
    </div>
  </div>
</div>
