<app-project-card
  [title]="'Discshop E-commerce Website'"
  [description]="
    'This is a project I did as a final individual exam in the full stack education at Lexicon Malmö I was enrolled in. I decided to to create a fully functioning discgolf-themed e-commerce website from scratch. The backend was built using C# / Entity Framework Core while the frontend was built using standard HTML and CSS with bootstrap. The customer using my app was able to search for different products to filter which products are shown in the shop, as well as add items to cart, and purchase them. I did everything from planning, designing and coding the entire application. I am proud of the result and learned a lot during the process. '
  "
  [youtubeLink]="'https://youtu.be/5CQpItCJ_74'"
  [websiteLink]="'https://github.com/SimonFromSweden/DiscShop'"
  [imageUrls]="['images/ds-hero-1.png', 'images/ds-hero-2.png']"
  [devIconUrls]="[
    'icons/html5.svg',
    'icons/css3.svg',
    'icons/csharp.png',
    'icons/aspnet.svg'
  ]"
>
</app-project-card>
