<div
  class="flex items-center justify-center flex-col pt-3 gap-4 pb-[8rem] rounded-t-xl"
>
  <div>
    <h2 class="text-3xl text-center mb-1">About</h2>
    <p class="max-w-[40vh] text-center sm:text-left px-5">
      I am a collaborative developer with an eye for the visual. My strengths
      lie in my problem solving ability and my drive to create awesome user
      experiences. I engaged in this portfolio-project to teach myself how to
      code in angular. I developed it in conjunction with reading courses on
      codecademy and youtube. I am driven to evolve as a developer and as a
      person.
    </p>
  </div>
  <div class="flex flex-col sm:flex-row gap-4 sm:gap-24">
    <div>
      <h2 class="text-3xl text-center mb-2">Tech Stack</h2>
      <div class="grid grid-cols-4 gap-1">
        <i class="devicon-html5-plain colored"></i>
        <i class="devicon-css3-plain colored"></i>
        <i class="devicon-bootstrap-plain colored"></i>
        <i class="devicon-tailwindcss-plain colored"></i>

        <i class="devicon-npm-original-wordmark colored"></i>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-github-original colored"></i>
        <i class="devicon-heroku-original colored"></i>

        <i class="devicon-jest-plain colored"></i>
        <i class="devicon-cypressio-plain-wordmark colored"></i>
        <i class="devicon-mongodb-plain-wordmark colored"></i>
        <i class="devicon-mysql-plain-wordmark colored"></i>

        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
        <i class="devicon-nextjs-original-wordmark colored"></i>
        <i class="devicon-nodejs-plain-wordmark colored"></i>

        <i class="devicon-typescript-plain colored"></i>

        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        />

        <i class="devicon-azure-plain-wordmark colored"></i>
        <i class="devicon-python-plain-wordmark colored"></i>

        <i class="devicon-csharp-plain colored"></i>
        <i class="devicon-entityframeworkcore-plain colored"></i>
        <i class="devicon-visualstudio-plain colored"></i>
        <i class="devicon-vscode-plain-wordmark colored"></i>
      </div>
    </div>
    <div>
      <h2 class="text-3xl text-center mb-[6px]">Me</h2>
      <img
        src="images/simon-clipped.JPG"
        alt="picture of simon"
        class="max-w-[24vh]"
      />
    </div>
  </div>
</div>
