<div class="flex items-center justify-center flex-col gap-4 font-mono">
  <h2 class="text-3xl">About</h2>
  <p>
    I am a collaborative developer with an eye for the visual. My strengths lie
    in my problem solving ability and my drive to create awesome user
    experiences.
  </p>
  <p>
    I engaged in this portfolio-project to teach myself how to code in angular.
    I developed it in conjunction with reading courses on codecademy and
    youtube.
  </p>
  <p>
    The other languages that I am most proficient at are: React.js/Node.js
    HTML/CSS/JS, C#/.NET. I like to learn new languages and frameworks as I go.
  </p>

  <div class="grid grid-cols-4 gap-1">
    
    <i class="devicon-html5-plain colored"></i>
    <i class="devicon-css3-plain colored"></i>
    <i class="devicon-bootstrap-plain colored"></i>
    <i class="devicon-tailwindcss-plain colored"></i>

    <i class="devicon-npm-original-wordmark colored"></i>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-github-original colored"></i>
    <i class="devicon-heroku-original colored"></i>          
          
    <i class="devicon-jest-plain colored"></i>
    <i class="devicon-cypressio-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>         
    <i class="devicon-mysql-plain-wordmark colored"></i>

    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nextjs-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i> 

    <i class="devicon-typescript-plain colored"></i>
    
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
            
    <i class="devicon-azure-plain-wordmark colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
          
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-entityframeworkcore-plain colored"></i>          
    <i class="devicon-visualstudio-plain colored"></i>      
    <i class="devicon-vscode-plain-wordmark colored"></i>
          
          
          
  </div>
</div>
