<div class="flex items-center justify-center flex-col gap-4 font-mono">
  <h1 class="text-3xl">About</h1>
  <p>
    I am a collaborative developer with an eye for the visual. My strengths lie
    in my problem solving ability and my drive to create awesome user
    experiences.
  </p>
  <p>
    I engaged in this portfolio-project to teach myself how to code in angular.
    I developed it in conjunction with reading courses on codecademy and
    youtube.
  </p>
  <p>
    The other languages that I am most proficient at are: React.js/Node.js
    HTML/CSS/JS, C#/.NET. I like to learn new languages and frameworks as I go.
  </p>
</div>
