<footer
  class="fixed bottom-0 flex justify-center items-center h-[8rem] w-full border-t-1 border-gray-200 bg-white z-50"
>
  <div
    class="absolute top-0 left-0 w-full h-4 bg-gradient-to-b from-gray-200 to-transparent pointer-events-none"
  ></div>
  <div class="flex gap-4">
    <a href="https://www.github.com/simonfromsweden"
      ><img src="icons/github.svg" alt="github icon" class="hover:opacity-70"
    /></a>
    <a href="https://www.linkedin.com/in/simon-berglund-75b15393/"
      ><img
        src="icons/linkedin-original.svg"
        alt="linked in icon"
        class="hover:opacity-70"
    /></a>
    <a href="mailto:jenssimonberglund@gmail.com"
      ><img
        src="icons/mail.png"
        class="w-6 h-6 relative top-[1px] hover:opacity-70"
        alt="Email Jens Simon Berglund"
    /></a>
  </div>
</footer>
