<nav
  class="flex items-center justify-center font-mono h-[8rem] border-b-1 border-gray-300"
>
  <div class="flex flex-row justify-center gap-4">
    <a><h1 class="text-5xl font-500 m-4">PORTFOLIO</h1> </a>
    <ul class="list-none flex flex-row justify-around items-center gap-4 px-8">
      <li>
        <a routerLink="/home" class="hover:text-[#40B5AD] cursor-pointer"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/about" class="hover:text-[#F5B027] cursor-pointer"
          >About</a
        >
      </li>
      <li>
        <a routerLink="/projects" class="hover:text-[#34eba1] cursor-pointer"
          >Projects</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="hover:text-[#fa7878] cursor-pointer"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
