<section class="h-auto mt-3">
  <img
    [src]="images[currentIndex].src"
    [alt]="images[currentIndex].alt"
    class="rounded-2xl object-top object-cover h-148 sm:h-154 w-full px-6 transition-opacity duration-700 ease-in-out cursor-pointer hover:opacity-85"
    [class.opacity-0]="fadingOut"
    (click)="goToProject(images[currentIndex].clickUrl)"
  />
  <div
    class="absolute -top-7 transform -translate-x-1/2 left-1/2 flex justify-center items-center gap-4 {{
      images[currentIndex].bgColor
    }} opacity-85 p-4 rounded-lg w-8/9 md:w-4/5 lg:w-3/5 xl:w-2/5 mx-auto text-center text-white cursor-pointer hover:opacity-100"
    (click)="goToProject(images[currentIndex].clickUrl)"
  >
    <h3 class="text-sm sm:text-md md:text-xl">
      {{ images[currentIndex].title }}
    </h3>
    <p class="text-xs sm:text-sm relative lg:top-[1px]">
      {{ images[currentIndex].description }}
    </p>
  </div>
  <div class="absolute top-1/2 left-0 w-full flex justify-between px-2">
    <button
      (click)="prevImage()"
      class="flex items-center justify-center rounded-full bg-white border-2 border-gray-300 px-auto w-7 h-7 cursor-pointer"
    >
      <img
        src="icons/chevron-left.svg"
        alt="chevron left"
        class="w-4 h-4 color-gray-300 relative right-[1px] hover:opacity-70"
      />
    </button>
    <button
      (click)="nextImage()"
      class="flex items-center justify-center rounded-full bg-white border-2 border-gray-300 px-auto w-7 h-7 cursor-pointer"
    >
      <img
        src="icons/chevron-right.svg"
        alt="chevron right"
        class="w-4 h-4 color-gray-300 relative left-[1px] hover:opacity-70"
      />
    </button>
  </div>
</section>
