<app-project-card
  [title]="'Donna Vino Website'"
  [description]="
    'For 8 months I was active in the Donna Vino Startup project. The frontend was built using Next.js, a React-framework, and TailwindCSS for styling. We followed a design created in Figma by a dedicated design team. The website is fully responsive and optimized for both desktop and mobile devices. The project was developed in a international team with team members from Denmark, Sweden and Italy. I learned a lot about React, teamwork and what it means to build a real world project from scratch.'
  "
  [youtubeLink]="'https://youtu.be/KeCY0cbDq8Y'"
  [websiteLink]="'https://donnavino.dk/'"
  [imageUrls]="['images/dv-hero-1.png', 'images/dv-hero-2.png']"
  [devIconUrls]="[
    'icons/react.svg',
    'icons/nextjs.svg',
    'icons/nodejs-alt.svg',
    'icons/npm.svg',
    'icons/tailwindcss.svg',
    'icons/shopify.svg',
    'icons/figma.svg'
  ]"
>
</app-project-card>
