<div
  class="flex items-center justify-center h-full bg-cover bg-center rounded-2xl"
  [style.backgroundImage]="'url(' + images[currentIndex].src + ')'"
>
  <img
    [src]="images[currentIndex].src"
    [alt]="images[currentIndex].alt"
    class="h-[67vh] cursor-pointer"
    (click)="navigateTo()"
  />
  <h2
    class="absolute left-8 sm:left-10 text-4xl xs:text-5xl sm:text-6xl md:text-7xl cursor-pointer maven-pro text-white"
    (click)="navigateTo()"
  >
    {{ images[currentIndex].title }}<br />
    {{ images[currentIndex].description }}
  </h2>
  <div
    class="flex gap-2 absolute bottom-10 transform -translate-x-1/2 left-1/2"
  >
    <ng-container *ngFor="let img of images; let i = index">
      <img
        *ngIf="currentIndex === i; else emptyDot"
        src="icons/ellipse-full.svg"
        alt="active dot"
        class="cursor-grab"
        (click)="currentIndex = i"
      />
      <ng-template #emptyDot>
        <img
          src="icons/ellipse-empty.svg"
          alt="inactive dot"
          class="cursor-grab"
          (click)="currentIndex = i"
        />
      </ng-template>
    </ng-container>
  </div>
</div>
