<div
  class="flex items-center justify-center h-full bg-cover bg-center rounded-2xl"
  style="background-image: url('images/react-background.jpg')"
>
  <img
    src="images/react-background.jpg"
    alt="code on screen"
    class="h-[67vh]"
  />
  <h2
    class="absolute left-8 sm:left-10 text-4xl xs:text-5xl sm:text-6xl md:text-7xl maven-pro text-white"
  >
    Full stack developer<br />
    Web design
  </h2>
  <div
    class="flex gap-2 absolute bottom-10 transform -translate-x-1/2 left-1/2"
  >
    <img src="icons/ellipse-full.svg" alt="ellipse full" /><img
      src="icons/ellipse-empty.svg"
      alt="ellipse empty"
    /><img src="icons/ellipse-empty.svg" alt="ellipse empty" />
  </div>
</div>
